[Desktop Entry]
Name=Forecast
Exec=cosmic-ext-forecast %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.jwestall.Forecast
Categories=Utility;
Keywords=Folder;Manager;
MimeType=
