[Desktop Entry]
Name=Forecast
Name[pt]=Meteorologia
Exec=cosmic-ext-forecast %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.jwestall.Forecast
Categories=Utility;
Keywords=Folder;Manager;
Keywords[pt]=previsão;tempo;temperatura;
MimeType=
